numpy
matplotlib
pathcensus
ipywidgets
igraph
pandas
networkx
markdown-word-count
lxml
-e .
black
markdown-word-count
tabulate
tqdm
seaborn
humanfriendly
zstandard
sparklines
joblib
statannotations
ward
mandarina
scikit-learn